@import 'variables';
@import 'responsive';
@import 'base.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.building {
  &__form {
    input[type='text'] {
      width: 100%;
      margin: 4px 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.7);
      border: 0px;
      border-radius: 0.2rem;
      padding: 0 0.5rem;
      font-size: 0.8rem;
    }
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }
  &.content {
    @media screen and (max-width: $lg) {
      padding-top: 0;
      width: 70%;
    }
    @media screen and (max-width: $md) {
      padding-top: 0;
      width: 80%;
    }

    @media screen and (max-width: $sm) {
      padding-top: 0;
      width: 85%;
      p {
        width: 90%;
      }
    }
    @media screen and (max-width: $xs) {
      padding-top: 0;
      width: 100%;
      p {
        width: 100%;
      }
    }
  }
}

#building {
  background-image: url('../img/more-building.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}

#second-card {
  background-image: url('../img/family.png');
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  @media screen and(max-width: $lg) and (min-width: $md) {
    background-position: -50%;
    padding-right: 0;
  }

  @media screen and(max-width: $md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      width: 100%;
    }
  }

  @media screen and(max-width: $sm) {
    background-position: center;
  }

  .content {
    border-radius: 4px;
    &:last-of-type {
      @media screen and(max-width: $md) {
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        padding: 1rem;
        p {
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
        }
        h2 {
          color: $bg-blue;
        }
        span,
        p {
          color: white;
        }
      }
    }
  }
}

.second-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

#third-card {
  background-image: url('../img/juice-bar.png');
  display: flex;
  align-items: center;
}

.third-card {
  div {
    display: flex;
    ul:first-of-type {
      margin-right: 80px;
    }
    @media screen and (max-width: $xs) {
      flex-direction: column;
    }
  }
  li {
    color: white;
    list-style: none;
  }

  li:before {
    content: url('../img/triangle.png');
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }

  &.content {
    @media screen and (max-width: $md) {
      width: 80%;
    }
    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }
}

#map {
  background-image: url('../img/map.png');
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and(max-width: $lg) and (min-width: $sm) {
    padding-right: 0;
  }

  @media screen and(max-width: $md) {
    p {
      width: 100%;
    }
  }

  @media screen and(max-width: $sm) {
    background-size: cover;
  }

  .content {
    border-radius: 4px;

    @media screen and(max-width: $sm) {
      display: none;
    }

    &:first-of-type {
      @media screen and(max-width: $lg) {
        width: 50%;
        height: 100vh;
      }
      @media screen and(max-width: $md) {
        width: 55%;
      }
    }
    &:last-of-type {
      justify-content: center;
      @media screen and(max-width: $lg) {
        align-items: center;
        width: 50%;
        p,
        h3 {
          margin-bottom: 0px;
        }
      }
      @media screen and(max-width: $md) {
        align-items: flex-end;
        width: 45%;
      }
    }
  }
}
.map {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#more {
  display: none;
  min-height: 300px;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  @media screen and(max-width: $md) {
    display: flex;
  }
  @media screen and(max-width: $xs) {
    p {
      width: 100%;
    }

    h3,
    p {
      margin-bottom: 10px;
    }
  }
}

.footer {
  padding: 0px 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
    }
    img {
      margin-top: -9px;
      width: 10px;
      height: 10px;
    }
  }

  &__address {
    font-style: normal;
    font-size: 0.75rem;
    text-align: center;
  }

  @media screen and (max-width: $xs) {
    flex-direction: column;
    height: 250px;
    padding: 1rem 3rem;
  }
}
