// Defaults
*,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: $bg-gray;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

.button {
  border: 0px;
  border-radius: 0.2rem;
  color: $bg-blue;
  height: 35px;
  margin-top: 1rem;
  padding: 0 1rem;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 1.5rem 3rem;
  p {
    width: 400px;
    line-height: 1.2rem;
    margin: 0.5rem 0 1.5rem 0;
  }

  @media screen and (max-width: $sm) {
    padding: 0.7rem 1.5rem;
  }
}

.content {
  padding: 1rem;
  width: 50%;
  @media screen and (max-width: $sm) {
    padding: 0;
  }
}

// helpers
.text-body {
  color: $bg-gray;
}
.text-white {
  color: white;
}
.text-bold {
  font-weight: bold;
}
.bg-blue {
  background-color: $bg-blue;
}
.bg-gray {
  background-color: $bg-gray;
}
.bordered {
  border: 1px solid white;
}

span {
  font-size: inherit;
}

.h1 {
  font-size: 3rem;
}
.h2 {
  font-size: 2.5rem;
}
.h3 {
  font-size: 1.5rem;
}
