.building {
  width: 100%;
  min-height: 610px;
  max-height: 700px;
  height: 100vh;
  position: relative;
  min-width: 300px;
  @media screen and(max-width: $lg) {
    min-height: 600px;
  }
  @media screen and(max-width: $xs) {
    min-height: 500px;
  }
  @media screen and(max-width: 450px) {
    min-height: 550px;
  }
  background-color: $blue;
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    .content {
      border-radius: 7px;
      p {
        margin-bottom: 1rem;
        @media screen and (max-width: $xs) {
          width: 100%;
        }
      }
      form {
        width: 250px;
        input {
          width: 100%;
        }

        .form-group:last-of-type {
          display: flex;
          justify-content: flex-end;
          .button {
            width: 100px;
          }
        }

        @media screen and (max-width: $xs) {
          width: 100%;
        }
      }

      @media screen and (max-width: $md) {
        padding: 2rem;
        .h3,
        h1 {
          margin-bottom: 0px;
        }
      }
      @media screen and (max-width: $sm) {
        padding: 1rem;
      }
    }

    @media screen and (max-width: $md) {
      padding: 2rem;
    }
    @media screen and (max-width: $sm) {
      align-items: flex-start;
    }
    @media screen and (max-width: $xs) {
      padding: 1rem;
      background-color: $blue;
    }
  }

  .decoration {
    position: absolute;
    z-index: 6;
    bottom: 10%;
    right: 54%;
    @media screen and (max-width: $lg) {
      right: 55%;
    }
    @media screen and (max-width: 1100px) {
      right: 60%;
    }
    @media screen and (max-width: $md) {
    }
    @media screen and (max-width: $sm) {
      right: 33%;
      bottom: 30%;
    }
    @media screen and (max-width: 650px) {
      right: 20%;
      bottom: 50%;
    }
    @media screen and (max-width: $xs) {
      display: none;
    }
  }

  &__figure {
    background-image: url('../img/backgrounds/first.png');
    background-repeat: no-repeat;
    background-position: -10%;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    @media screen and (max-width: $sm) {
      background-size: cover;
    }
    @media screen and (max-width: $xs) {
      display: none;
    }
  }

  &__background {
    background-image: url('../img/backgrounds/group.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media screen and (max-width: $sm) {
      background-size: cover;
      // height: 50%;
    }
    @media screen and (max-width: $xs) {
      display: none;
    }
  }
}
