#building {
  background-image: url('../img/backgrounds/group.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.building {
  display: flex;
  align-items: center;
  &__form {
    input {
      width: 65%;
    }
  }
}
