.family {
  background-color: $blue;
  width: 100%;
  min-height: 610px;
  max-height: 700px;
  height: 100vh;
  position: relative;
  min-width: 300px;
  @media screen and(max-width: $lg) {
    min-height: 600px;
  }
  @media screen and(max-width: $sm) {
    min-height: 450px;
    height: 450px;
  }

  @media screen and(max-width: $sm) {
    min-height: 500px;
    height: 500px;
  }

  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .content {
      border-radius: 7px;
      h2 {
        @media screen and (max-width: 1101px) {
          width: 350px;
        }
        @media screen and (max-width: $md) {
          width: initial;
        }
        @media screen and (max-width: $xs) {
          margin-bottom: 0rem;
        }
      }

      p {
        width: 350px;
        margin-bottom: 1rem;
        @media screen and (max-width: $xs) {
          width: 100%;
          width: 100%;
          margin-bottom: 0rem;
        }
      }

      form {
        width: 250px;
        input {
          width: 100%;
        }

        .form-group:last-of-type {
          display: flex;
          justify-content: flex-end;
          .button {
            width: 100px;
          }
        }

        @media screen and (max-width: $xs) {
          width: 100%;
        }
      }

      @media screen and (max-width: $md) {
        padding: 2rem;
        .h3,
        h1 {
          margin-bottom: 0px;
        }
      }
      @media screen and (max-width: $sm) {
        padding: 1rem;
      }
      @media screen and (max-width: $sm) {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @media screen and (max-width: $md) {
      padding: 2rem;
    }
    @media screen and (max-width: $sm) {
      align-items: flex-end;
      padding-right: 0rem;
      padding-bottom: 0rem;
    }
    @media screen and (max-width: $xs) {
      padding: 1rem;
      // background-color: $gray;
    }
  }

  .decoration {
    position: absolute;
    z-index: 6;
    bottom: 12%;
    left: 27%;
    @media screen and (max-width: 910px) {
      left: 22%;
    }
    @media screen and (max-width: 700px) {
      left: 18%;
    }
    @media screen and (max-width: 650px) {
      left: 12%;
    }
    @media screen and (max-width: $xs) {
      top: 32%;
      left: 70%;
      width: 100px;
    }
    @media screen and (max-width: 380px) {
      top: 20%;
      left: 45%;
      width: 100px;
    }
  }

  &__background {
    background-image: url('../img/backgrounds/family.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media screen and (max-width: $sm) {
      background-size: cover;
      // height: 50%;
    }
    @media screen and (max-width: $xs) {
      height: 50%;
      background-size: cover;
      background-color: $gray;
    }
  }

  &__figure {
    background-image: url('../img/backgrounds/second.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    @media screen and (max-width: $sm) {
      // background-position: 400%;
      // background-size: cover;
    }
    @media screen and (max-width: $xs) {
      display: none;
    }
  }
}
