.footer {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-light;
  &__title {
    padding: 1rem;
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
    }
    img {
      margin-left: 5px;
    }
  }

  &__address {
    padding: 1rem;
    font-style: normal;
    font-size: 0.75rem;
    text-align: center;
    font-family: 'objetive';
    line-height: 1rem;
  }
  &__second-title {
    padding: 1rem;
    img {
      width: 60px;
    }
  }

  @media screen and (max-width: $sm) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: $xs) {
    justify-content: center;
  }
}
